common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

test --test_output=errors

coverage --combined_report=lcov
coverage --instrumentation_filter="//score/itf[/:]"

build:x86_64-qnx --incompatible_strict_action_env
build:x86_64-qnx --platforms=@score_bazel_platforms//:x86_64-qnx-sdp_8.0.0-posix
build:x86_64-qnx --sandbox_writable_path=/var/tmp
build:x86_64-qnx --extra_toolchains=@score_qcc_x86_64_toolchain//:x86_64-qnx-sdp_8.0.0
build:x86_64-qnx --extra_toolchains=@score_qnx_x86_64_ifs_toolchain//:ifs-x86_64-qnx-sdp_8.0.0
build:x86_64-qnx --credential_helper=*.qnx.com=%workspace%/tools/qnx_credential_helper.py

test:qemu-integration --config=x86_64-qnx
test:qemu-integration --run_under=//scripts:run_under_qemu

build --java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --tool_java_runtime_version=remotejdk_17

# Target configuration for CPU:x86-64|OS:AutoSD10 Linux
build:x86_64-autosd --incompatible_strict_action_env
build:x86_64-autosd --platforms=@score_bazel_platforms//:x86_64-linux-autosd10
build:x86_64-autosd --extra_toolchains=@score_autosd10_x86_64_toolchain//:x86_64-linux-autosd10

# Target configuration for CPU:aarch64|OS:AutoSD10 Linux
build:aarch64-autosd --incompatible_strict_action_env
build:aarch64-autosd --platforms=@score_bazel_platforms//:aarch64-linux-autosd10
build:aarch64-autosd --extra_toolchains=@score_autosd10_aarch64_toolchain//:aarch64-linux-autosd10

